.tabs{
    max-width: 1386px;
    margin: 0 auto;

    &__list{
        display: flex;
        justify-content: space-between;
    }

    &__item{
        width: calc(100% / 3);
        text-align: center;
        padding: 24px 51px;
        border: 1px solid #DCDCDC;

        @include pad{
            padding: 16px 20px;
        }

        @include mobile{
            padding: 8px 9px;
        }

        .tabs__link::before{
            content: "";
            display: inline-block;
            height: 48px;
            width: 48px;
            background-image: url("../images/icon-diamond-black.svg");
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: text-top;
            margin-right: 8px;
            background-position: center;
            @include pad{
                height: 32px;
                width: 32px;
            }

            @include mobile{
                height: 15px;
                width: 15px;
                margin-right: 3px;
            }
        }

        &:nth-child(2) .tabs__link::before{
            background-image: url("../images/icon-sun-black.svg");
        }

        &:nth-child(3) .tabs__link::before{
            background-image: url("../images/icon-thunder-black.svg");
        }



    }

    &__link{
        text-decoration: none;
        font-size: 42px;
        color: black;
        font-family: $font-family-roboto;

        @include pad{
            font-size: 28px;
        }

        @include mobile{
            font-size: 14px;
        }

    }

    .active {
        border-bottom: 16px solid $color-primary;
        @include pad{
            border-bottom: 8px solid $color-primary;
        }
        @include mobile{
            border-bottom: 4px solid $color-primary;
        }
    }

}

.photos{
    display: flex;

    &__hero{
        width: calc(100% / 2 - 15px);
        // height: 309px;
        object-fit: cover;

        @include pad{
            width: 50%;
        }
    }
    &__hero:nth-child(1){
        margin-right: 30px;

        @include pad{
            margin-right: 0;
        }
    }
}

.products{

    padding: 88px 0px 192px 0px;

    @include pad{
        padding: 40px 0px 104px 0px;
    }

    @include mobile{
        padding: 30px 0px 56px 0px;
    }

    &__link{
        text-decoration: none;
    }

    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

}


.list-group{
    display: flex;
}

.list-group-item{
    margin-right: 8px;
}

.list-group-item:nth-child(1){

    background-color: #5f3e2d;
    border-radius: 4px;
    width: 19px;
    height: 19px;
}

.list-group-item:nth-child(2){

    background-color: #B75929;
    border-radius: 4px;
    width: 19px;
    height: 19px;
}