// spacing related
@for $i from 1 through 10 {
  .mb-#{$i} {
    margin-bottom: 8px * $i;
  }
}
@include pad{
  @for $i from 1 through 8 {
    .mb-md-#{$i} {
      margin-bottom: 4px * $i;
    }
  }
}


@for $i from 1 through 8 {
  .pl-#{$i} {
    padding-left: 8px * $i;
  }
}

@include pad{
  @for $i from 1 through 8 {
    .pl-md-#{$i} {
      padding-left: 8px * $i;
    }
  }
}

// color
.bg-primary{
  background: $color-primary;
}

.bg-primary-light{
  background: $color-primary-light;
}


// font family
.font-roboto{
  font-family: $font-family-roboto;
}

// font weight
@for $i from 1 through 9 {
  .fw-#{$i} {
    font-weight: 100 * $i;
  }
}


// commonly used
@mixin u-hide-text {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

@mixin background-image-normal{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}