.row-form{
    max-width: 730px;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 64px;
    padding-bottom: 80px;

    &__description{
        width: 100%;
        font-size: $font-size-m;
        margin-bottom: 20px;
    }
}