.seriesClassic{

    &__title{
        text-align: center;
        margin-bottom: 60px;

        @include pad{
            margin-bottom: 32px;
        }

        @include mobile{
            font-size: 20px;
            margin-bottom: 20px;
        }

    }

    &__list{

    }

    &__item{

        display: flex;
        align-items: stretch;

        @include mobile{
            align-items: center;
            justify-content: center;
        }

        &:nth-child(1) span{
            @include serisesClassisc-before("/week4/images/icon-diamond.svg", 55px, 48px);

            @include pad{
                @include serisesClassisc-before("/week4/images/icon-diamond.svg", 32px, 32px);
            }

            @include mobile{
                @include serisesClassisc-before("/week4/images/icon-diamond-white.svg", 32px, 32px);
            }
        }
        &:nth-child(2) span{
            @include serisesClassisc-before('/week4/images/icon-sun.svg', 55px, 48px);

            @include pad{
                @include serisesClassisc-before('/week4/images/icon-sun.svg', 32px, 32px);
            }

            @include mobile{
                @include serisesClassisc-before('/week4/images/icon-sun-white.svg', 32px, 32px);
            }
        }
        &:nth-child(3) span{
            @include serisesClassisc-before('/week4/images/icon-thunder.svg', 55px, 48px);

            @include pad{
                @include serisesClassisc-before('/week4/images/icon-thunder.svg', 32px, 32px);
            }

            @include mobile{
                @include serisesClassisc-before('/week4/images/icon-thunder-white.svg', 32px, 32px);
            }
        }

        $urls: '../images/product-1.png', '../images/product-2.png', '../images/product-3.png';

        // 原本想要連 width, height 都能寫變數來帶入...
        @each $url in $urls {
            $i: index($urls , $url );
            &:nth-child(#{$i}) .seriesClassic__img{
                @include bg-images($url, 635px, 320px);
            }
        }

        @include pad{
            @each $url in $urls {
                $i: index($urls , $url );
                &:nth-child(#{$i}) .seriesClassic__img{
                    @include bg-images($url, 390px, 168px);
                }
            }
        }

        @include mobile{
            @each $url in $urls {
                $i: index($urls , $url );
                &:nth-child(#{$i}) .seriesClassic__img{
                    @include bg-images($url, 345px, 134px);
                }
            }
        }

        &:nth-child(odd){
            // 請問這邊要怎麼寫，才能比較簡約繼承父父層 ?
            .seriesClassic__img{
                margin-right: 30px;
                @include mobile{
                    margin: 0;
                }
            }
        }

        &:nth-child(even){
            flex-direction: row-reverse;
            .seriesClassic__img{
                margin-left: 30px;
            }

            @include pad{
                flex-direction: row;
                .seriesClassic__img{
                    margin-left: 0;
                    margin-right: 30px;
                }
            }
            @include mobile{
                .seriesClassic__img{
                    margin: 0;
                }
            }
        }



    }

    &__img{
        @include mobile{
            width: 100%;
            position: relative;
        }
    }

    &__link{
        display: flex;
        text-decoration: none;
        align-items: center;
        @include link-hover;

        @include pad{
            .h2{
                font-size: 28px;
            }
        }

        @include mobile{
            position: absolute;
            z-index: 1;
            span{
                color: #ffffff;
            }
        }
    }

}