@font-face {
  font-family: "Noto Sans";
  src: url(https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap);
}

@font-face {
  font-family: "Roboto";
  src: url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    max-width: 690px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 345px;
  }
}

@media (max-width: 321px) {
  .container {
    max-width: 290px;
  }
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mb-6 {
  margin-bottom: 48px;
}

.mb-7 {
  margin-bottom: 56px;
}

.mb-8 {
  margin-bottom: 64px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 24px;
}

.pl-4 {
  padding-left: 32px;
}

.pl-5 {
  padding-left: 40px;
}

.pl-6 {
  padding-left: 48px;
}

.pl-7 {
  padding-left: 56px;
}

.pl-8 {
  padding-left: 64px;
}

@media (max-width: 992px) {
  .pl-md-1 {
    padding-left: 8px;
  }
  .pl-md-2 {
    padding-left: 16px;
  }
  .pl-md-3 {
    padding-left: 24px;
  }
  .pl-md-4 {
    padding-left: 32px;
  }
  .pl-md-5 {
    padding-left: 40px;
  }
  .pl-md-6 {
    padding-left: 48px;
  }
  .pl-md-7 {
    padding-left: 56px;
  }
  .pl-md-8 {
    padding-left: 64px;
  }
}

.bg-primary {
  background: #aa0601;
}

.font-roboto {
  font-family: "Roboto";
}

.logo {
  display: block;
  width: 80px;
  height: 48px;
  background-image: url(../images/logo.png);
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 88px;
}

@media (max-width: 992px) {
  .nav {
    padding: 0 39px;
  }
}

@media (max-width: 767px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0px 0px 0px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .nav__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .nav__item {
    width: 50%;
    border: 1px solid #ffffff;
  }
}

.nav__link {
  color: #fff;
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 1.25rem;
}

.nav__link:hover {
  color: lightgray;
}

@media (max-width: 767px) {
  .nav__link {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
  }
}

.footer__infor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #fff;
  margin-bottom: 24px;
  padding-bottom: 16px;
}

@media (max-width: 767px) {
  .footer__infor {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer__nav-list {
    display: none;
  }
}

.footer__nav-link {
  display: block;
  font-size: 1.25rem;
  color: #ffffff;
  text-decoration: none;
  padding-right: 48px;
  padding-top: 48px;
  padding-bottom: 36px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer__nav-link:hover {
  color: lightgray;
}

@media (max-width: 992px) {
  .footer__nav-link {
    padding-top: 40px;
    padding-bottom: 26px;
    padding-right: 40px;
    font-size: 1rem;
  }
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-link {
  display: block;
  padding-left: 32px;
  padding-top: 36px;
}

@media (max-width: 992px) {
  .footer__social-link {
    padding-top: 40px;
    padding-left: 24px;
  }
  .footer__social-link img {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 767px) {
  .footer__social-link {
    padding-top: 24px;
  }
}

@media (max-width: 321px) {
  .footer__social-link {
    padding-left: 18px;
  }
  .footer__social-link img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 767px) {
  .footer__contact-list {
    margin-top: 24px;
  }
}

.footer__contact-item:nth-child(1) img {
  width: 44px;
  height: 44px;
  margin-right: 17px;
}

@media (max-width: 992px) {
  .footer__contact-item:nth-child(1) img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .footer__contact-item:nth-child(1) img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
}

.footer__contact-item:nth-child(2) img {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

@media (max-width: 992px) {
  .footer__contact-item:nth-child(2) img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
}

@media (max-width: 767px) {
  .footer__contact-item:nth-child(2) img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

.footer__contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.25rem;
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 19px;
}

@media (max-width: 992px) {
  .footer__contact-link {
    font-size: 1.25rem;
    padding-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .footer__contact-link {
    font-size: 1rem;
  }
}

@media (max-width: 321px) {
  .footer__contact-link {
    font-size: 0.875rem;
  }
}

.footer__legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 28px;
}

@media (max-width: 992px) {
  .footer__legal {
    padding-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .footer__legal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-bottom: 25px;
  }
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: "Noto Sans", sans-serif;
}

.footer__copyright p {
  margin-left: 38px;
}

@media (max-width: 767px) {
  .footer__copyright p {
    font-size: 0.875rem;
  }
}

@media (max-width: 992px) {
  .footer__copyright .logo {
    display: none;
  }
  .footer__copyright p {
    margin: 0;
  }
}

.footer__policy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer__policy-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .footer__policy-item:nth-last-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__policy-item:nth-last-child(1) .logo {
  display: none;
}

@media (max-width: 767px) {
  .footer__policy-item:nth-last-child(1) .logo {
    display: block;
    width: 46px;
    height: 28px;
    background-size: cover;
  }
}

.footer__policy-link {
  text-decoration: none;
  color: #fff;
  font-size: 0.875rem;
  padding-left: 62px;
}

@media (max-width: 992px) {
  .footer__policy-link {
    padding-left: 24px;
  }
}

@media (max-width: 767px) {
  .footer__policy-link {
    padding-left: 0;
    padding-top: 8px;
  }
}
/*# sourceMappingURL=all.css.map */