@import "reset.css";

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}

/* 主體 CSS */

.body{
    font-family: 'Noto Sans';
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 88px;
}

.logo{
    display: block;
    width: 80px;
    height: 48px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: 101%;
    overflow: hidden;
    /* white-space: nowrap; */
}

.menu{
    display: flex;
}

.menu a{
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
}

.menu li{
    margin-left: 64px;
}

@media (max-width: 992px) {

    .header{
        padding-left: 40px;
        padding-right: 40px;
    }

    .menu li{
        margin-left: 40px;
    }

}

@media (max-width: 767px) {

    .header{
        flex-direction: column;
        padding: 0;
    }

    .logo{
        width: 48px;
        height: 30px;
        background-size: cover;
        margin: 10px 0;
    }

    .menu{
        flex-wrap: wrap;
        width: 100%;
    }

    .menu li{
        width: 50%;
        margin-left: 0;
        border: 1px solid #ffffff;
        text-align: center;
        padding: 8px 0;
    }

}


.footer{
    padding-top: 36px;
    padding-bottom: 28px;
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 24px;
}

.footer-menu{
    display: flex;
}

.footer-menu li{
    margin-right: 48px;
}

.footer-menu a{
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.social{
    display: flex;
}

.social li{
    margin-left: 42px;
}

.contact{
    margin-top: 18px;
    margin-bottom: 1px;
}

.contact li{
    margin-bottom: 19px;
    display: flex;
}

.icon-phone{
    margin-right: 24px;
}

.icon-mail{
    margin-right: 12px;
}

.contact a{
    color: #ffffff;
    font-size: 36px;
    line-height: 48px;
    text-decoration: none;
    font-family: 'Roboto';
}

.footer-legal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infor{
    display: flex;
    align-items: center;
}

.copyright{
    margin-left: 38px;
    font-family: Roboto;
}

.policy{
    display: flex;
}

.policy li{
    margin-left: 62px;
}

.policy a{
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}

.policy li:nth-last-child(1){
    display: none;
}

@media (max-width: 992px) {

    .footer{
        padding: 40px 39px;
    }

    .footer-menu li{
        margin-right: 40px;
    }

    .footer-menu a{
        font-size: 16px;
        line-height: 22px;
    }

    .social li{
        margin-left: 24px;
    }

    .social img{
        width: 24px;
        height: 24px;
    }

    /* .footer-contact{
        margin-top: 26px;
        margin-bottom: 24px;
        padding-bottom: 24px;
    } */
    .contact{
        margin-top: 24px;
        margin-bottom: 16px;
    }

    .icon-phone{
        width: 24px;
        height: 24px;
        margin-right: 12px;
    }

    .icon-mail{
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }

    .contact li{
        margin-bottom: 8px;
    }

    .contact a{
        font-size: 20px;
        line-height: 26px;
    }

    .infor .logo{
        display: none;
    }

    .copyright{
        margin-left: 0;
        line-height: 21px;
    }

    .policy li{
        margin-left: 24px;
    }

}

@media (max-width: 767px) {

    .footer{
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 24px;
        padding-bottom: 21px;
    }

    .footer-nav{
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    .footer-menu{
        display: none;
    }

    .contact{
        margin-top: 0;
    }

    .contact a{
        font-size: 16px;
        line-height: 21px;
    }

    .icon-phone{
        width: 20px;
        height: 20px;
        margin-right: 4px;
    }

    .icon-mail{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .infor .logo{
        display: none;
    }

    .infor{
        margin-bottom: 7px;
    }

    .footer-legal{
        flex-direction: column;
        align-items: start;
    }

    .copyright{
        font-size: 14px;
    }

    .policy{
        flex-direction: column;
    }

    .policy li{
        margin-left: 0;
        margin-bottom: 8px;
    }

    .policy .logo{
        display: block;
    }

}

/* color style */

.color-primary{
    background: #AA0601;
    color: #ffffff;
}

/* 768~992px 都享有 Pad 樣式 */
@media (max-width: 992px) {
}

/* 767px 手機以下 */
@media (max-width: 767px) {
}
